<div class="grid-container">
  <div class="card" style="width: 18rem;" *ngFor='let product of products'>
    <div class="uk-flex uk-flex-column container">
      <h2>{{product.name}}</h2>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <div class="uk-inline uk-dark">
            <img [src]="product.image" alt="">
          </div>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">{{product.description}}</h3>
          <p>Quantity: {{product.quantity}}</p>
          <a class="uk-icon-link" uk-icon="cart" (click)="addToCart(1, product)"></a>
          <hr>
          <button
              [routerLink]="['/product', product.id]"
              class="uk-button uk-button-default uk-button-small"
              (click) ="setProduct(product)">
              View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>