<div class="grid-container">
<div class="card" style="width: 18rem;" *ngFor='let product of products'>
  <div class="uk-flex uk-flex-column container">
    <h2>{{product.name}}</h2>
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <div class="uk-inline uk-dark">
          <img [src]= "product.image" alt="">
          <a class="uk-position-absolute uk-transform-center" style="left: 20%; bottom: 10%" href="#" uk-marker> </a>
            <a class="uk-position-absolute uk-transform-center" style="right: 20%; bottom: 50%" href="#" uk-marker></a>
        </div>
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Awesome Cactus</h3>
        <p>Quantity: {{product.quantity}}</p>
        <a href="#" class="uk-icon-link" uk-icon="cart" (click)="addToCart(1, product)"></a>
        <a href="#" class="uk-icon-link" uk-icon="social"></a>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>

